[submodule "external/eos"]
	path = external/eos
	url = https://github.com/patrikhuber/eos.git
	branch = v0.12.1
[submodule "external/superviseddescent"]
	path = external/superviseddescent
	url = https://github.com/patrikhuber/superviseddescent.git
	branch = devel
